<div class="container">
  <div class="col-md-10">
    <h1 class="col-md-4 home" routerLink="/">
      <b>Global store</b>
    </h1>
  </div>
  <hr class="myHr"/>
  <router-outlet></router-outlet>
</div>

