<div class="container">
  <div class="col-md-7">
    <h3>Lista produktów</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Typ</th>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Opis</th>
        <th>Dostępność</th>
        <th>Zniżka</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{errorMessage}}
      <tr *ngFor="let item of items?.content">
        <td>{{item.type}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td>{{item.shortDescription}}</td>
        <td>{{item.count}}</td>
        <td>{{item.discount}}</td>
        <td>
          <button routerLink="/details/{{item.id}}" routerLinkActive="active" class="btn btn-default">Otwórz</button>
        </td>
      </tr>
      </tbody>
      <div class="row">
        <div  [hidden]="items.first" class="col-xs-1">
        <button (click)="change1(-1)" style="margin-top:30%" type="button" class="btn btn-default">
          <span  class="glyphicon glyphicon-triangle-left"></span>
        </button>
        </div>
        <div  [hidden]="items.last" class="col-xs-1 col-xs-offset-1">
        <button (click)="change1(1)" style="margin-top:30%" type="button" class="btn btn-default">
          <span class="	glyphicon glyphicon-triangle-right"></span>
        </button>
        </div>
      </div>
    </table>
  </div>
  <div class="col-md-5">
    <a routerLink="/add-item" routerLinkActive="active"><h3><b>Wystaw produkt</b></h3></a>
    <h2><b>Promocje</b></h2>
    <br>
    <h4>Najlepsze oferty:</h4>
    <div class="col-xs-9 col-xs-offset-0">
      <h4><b>Nazwa</b></h4>
    </div>
    <div class="col-xs-3">
      <h4><b>Obniżka</b></h4>
    </div>

    <div *ngFor="let opp of opportuity?.content">
      <div class="col-xs-9 col-xs-offset-0">
        <a routerLink="/details/{{opp.id}}" routerLinkActive="active">{{opp.title}}</a>
      </div>
      <div class="col-xs-3">
        {{opp.discount}}%
      </div>
    </div>
  </div>
</div>

