<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <h1><b>{{item?.title}}</b></h1>
    </div>
    <div  class="col-xs-1">
      <button style="margin-top:30%" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-cart"></span> Zamów
      </button>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <h1>876 zl
        <small style="color:red; font-size:50%"> {{item?.discount}}% taniej!</small>
      </h1>
    </div>
    <div class="col-xs-11 col-xs-offset-1">
      <h4>
        <small>{{item?.shortDescription}}</small>
      </h4>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <p><b>Typ</b></p>

      </div>
      <div class="col-xs-9">
        <p>{{item?.type}}</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <p><b>Pozostało</b></p>

      </div>
      <div class="col-xs-9">
        <p>{{item?.count}} sztuk</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <p><b>Opis</b></p>

      </div>
      <div class="col-xs-9">
        <p>{{item?.description}}</p>

      </div>
    </div>

  </div>
</div>
