<div class="container">
  <div class="row" [hidden]="status">
    <h2>Wystaw przedmiot</h2>
    <p>Wypełnij dane o przedmiocie</p>
    <form>
      <div class="form-group">
        <label for="type">Typ:</label>
        <input type="text" class="form-control" id="type" [(ngModel)]="item.type" name="type"
               required>
      </div>

      <div class="form-group">
        <label for="title">Tytuł:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="item.title" name="title"
               required>
      </div>
      <div class="form-group">
        <label for="shortDescription">Krótki opis:</label>
        <input type="text" class="form-control" id="shortDescription"
               [(ngModel)]="item.shortDescription" name="short-desc" required>
      </div>

      <div class="form-group">
        <label for="description">Opis:</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="item.description"
               name="description" required>
      </div>

      <div class="form-group">
        <label for="count">Liczba sztuk:</label>
        <input type="number" class="form-control" id="count" [(ngModel)]="item.count" name="count"
               required>
      </div>
      <div class="form-group">
        <label for="price">Cena:</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="item.price" name="price"
               required>
      </div>
      <div class="form-group">
        <label for="discount">Promocja %:</label>
        <input type="number" class="form-control" id="discount" [(ngModel)]="item.discount" name="discount"
               required>
      </div>
      <button type="submit" class="btn btn-warning col-xs-12" (click)="submitItem()">Wystaw!
      </button>
    </form>
  </div>
  <div class="row">
    <h4 [hidden]="!status">Produkt dodano</h4>
  </div>
</div>
